@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&family=Fira+Sans:wght@600&family=Lato:wght@700;900&family=Open+Sans:wght@700&family=Poppins:wght@400;500;600&family=Roboto:wght@100&family=Unbounded:wght@200&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'sans-serif';
}

body {
background: rgb(5, 41, 46);
background: linear-gradient(176deg, rgba(5, 41, 46, 1) 28%, rgba(8, 102, 13, 1) 71%);
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

input,
button {
    border: none;
    font-family: inherit;
}

input {
    outline: none;
}

img {
    width: 100%;
    display: block;
    background-size: cover;
}